@font-face {
  font-family: warcraftFont;
  src: url(LifeCraft_Font.ttf);
}
/* body {
  background-image: url(bodyBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */
.titleRow {
  text-align: center;
  border: 2px solid black;
  margin-top: 2em;
  background-image: url(titleBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

 .titleRow h1 {
   font-family: warcraftFont;
   font-size: 75px;
   text-shadow: 5px 5px black;
 }

.navButtons button {
  text-align: center;
  font-family: warcraftFont;
  font-size: 20px;
}
