@font-face {
  font-family: warcraftFont;
  src: url(LifeCraft_Font.ttf);
}

.titleRow {
  text-align: center;
  border: 2px solid black;
}

 .titleRow h1 {
   font-family: warcraftFont;
   font-size: 75px;
 }

.navButtons button {
  text-align: center;
}
